{% extends 'html/index.html' %}
{% block title %}
    {{last}}
{% endblock %}


{% block basic %}
<head>

</head>

<div style="margin-left: 100px;">
     <h2>список стран, в которых говорят на языке</h2>
    <h1><strong>{{last}}</strong></h1>
    {% for item in masiv %}

    <a href="https://www.google.ru/maps/place/{{item}}"> <h3>{{item}}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
    </svg></a>
 </h3>
    {% endfor %}
    <br>
    <div class="icon-bar">
  <a class="active" href="{% url 'iam' %}"><i class="fa fa-home"></i></a>
  <a href="{% url 'language' %}"><i class="fa fa-search"></i></a>
<!--  <a href="https://www.google.ru/maps/place/{{last}}"><i class="fa fa-globe"></i></a>-->
</div>
</div>
<div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

{% endblock %}
